@forward "./utilities/_variables";
@forward "./utilities/_extends";
@forward "./layout/_header";
@forward "./layout/footer";
@forward "./layout/main";
@forward "./layout/mq";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.botones {
    @extend %botones;
}