$color-primario: rgb(117, 9, 121);
$color-primario-alpha: rgb(151, 11, 156);
$color-secundario: rgb(9, 30, 121);
$color-secundario-alpha: rgb(12, 41, 170);
$color-terciario: rgb(121, 9, 9);
$color-terciario-alpha: rgb(163, 14, 14);
$color-bg: rgb(61, 61, 61);
$color-bg-alpha: rgb(180, 180, 180);
